<div class="row align-items-center">
  <h4 class="col-6 mb-3">Détail du fichier</h4>
  <P class="col-6 mb-3 text-end">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
      Filters
    </button>
  </P>
</div>
@if ((file$ | async);) {
  <div>
    <div class="collapse" id="collapseFilters">
      <!-- Filtres (placeholder, pas encore branchés) -->
      <div class="card mb-3">
        <div class="card-body">
          <div class="row g-2 align-items-end">
            <div class="col-6 col-md-4">
              <label for="sections" class="form-label">Sections</label>
              <ng-multiselect-dropdown
                [data]="sections()"
                [(ngModel)]="selectedSections"
                (ngModelChange)="selectedSections.set($event)"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-6 col-md-4">
              <label class="form-label">Type mémoire</label>
              <ng-multiselect-dropdown
                [data]="memoryType()"
                [(ngModel)]="selectedMemoryTypes"
                (ngModelChange)="selectedMemoryTypes.set($event)"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
<!--            <div class="col-12 col-md-2 text-md-end">-->
<!--              <label class="form-label d-none d-md-block">&nbsp;</label>-->
<!--              <button class="btn btn-outline-secondary w-100" disabled>Appliquer</button>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- Résumé + page size -->
<div class="d-flex justify-content-between align-items-center mb-2">
  <div class="text-muted small">Total: <strong>{{ total }}</strong> entrées</div>
  <div class="d-flex align-items-center gap-2">
    <span class="small">Lignes/page</span>
    <select class="form-select form-select-sm" style="width: auto;"
            (change)="setPageSize($any($event.target).value)">
      <option [selected]="pageSize()===10"  value="10">10</option>
      <option [selected]="pageSize()===25"  value="25">25</option>
      <option [selected]="pageSize()===50"  value="50">50</option>
      <option [selected]="pageSize()===100" value="100">100</option>
      <option [selected]="pageSize()===total" value="{{ total }}">max</option>
    </select>
  </div>
</div>

<!-- Table -->
<div class="table-responsive">
  <table class="table table-sm table-hover align-middle table-striped">
    <thead class="table-light">
    <tr>
      <th class="sortable-header" (click)="sortTrigger('section_full')">
        Section <fa-icon [icon]="getSortIcon('section_full')"></fa-icon>
      </th>
      <th class="sortable-header" (click)="sortTrigger('address')">
        Adress <fa-icon [icon]="getSortIcon('address')"></fa-icon>
      </th>
      <th class="sortable-header" (click)="sortTrigger('size')">
        Size <fa-icon [icon]="getSortIcon('size')"></fa-icon>
      </th>
      <th class="sortable-header" (click)="sortTrigger('memory_type')">
        Type <fa-icon [icon]="getSortIcon('memory_type')"></fa-icon>
      </th>
      <th class="sortable-header" (click)="sortTrigger('file')">
        Source File<fa-icon [icon]="getSortIcon('file')"></fa-icon>
      </th>
    </tr>
    </thead>

    @if (paged.length > 0) {
      <tbody>
        @for (e of paged; track trackRow($index, e)){
          <tr (click)="openModal(e)"  data-bs-toggle="modal" data-bs-target="#sectionDetailModal" [attr.data-bs-whatever]="e">
            <td class="text-truncate" style="width: 25vw; max-width: 25vw;" title="{{ e.section_full }}">{{ e.section_full }}</td>
            <td><code>{{ hex(e.address) }}</code></td>
            <td>{{ bytes(e.size) }}</td>
            <td><span class="badge text-bg-secondary">{{ e.memory_type || '—' }}</span></td>
            <td class="text-truncate" style="width: 25vw; max-width: 25vw;" title="{{ e.file }}">{{ e.file }}</td>
          </tr>
        }
    } @else {
      <tbody>
      <tr>
        <td colspan="5" class="text-muted text-center">Pas de données à afficher.</td>
      </tr>
      </tbody>
    }
  </table>
</div>

<!-- Pagination -->
<nav aria-label="Pagination" class="mt-2">
  <ul class="pagination pagination-sm mb-0">
    <li class="page-item" [class.disabled]="page()===1">
      <button class="page-link" (click)="goto(1)">«</button>
    </li>
    <li class="page-item" [class.disabled]="page()===1">
      <button class="page-link" (click)="prev()">Préc.</button>
    </li>

    <li class="page-item disabled">
        <span class="page-link bg-light">
          Page {{ page() }} / {{ totalPages }}
        </span>
    </li>

    <li class="page-item" [class.disabled]="page()===totalPages">
      <button class="page-link" (click)="next()">Suiv.</button>
    </li>
    <li class="page-item" [class.disabled]="page()===totalPages">
      <button class="page-link" (click)="goto(totalPages)">»</button>
    </li>
  </ul>
</nav>

} @else {
  <div class="alert alert-secondary">Aucun fichier sélectionné pour l’instant.</div>
}


<!-- Modal -->
<div class="modal fade" id="sectionDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Détail de {{ selectedModalEntry.section_full }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Section :</strong> {{ selectedModalEntry.section }}</p>
        <p><strong>Adresse :</strong> {{ hex(selectedModalEntry.address) }}</p>
        <p><strong>Taille :</strong> {{ bytes(selectedModalEntry.size) }}</p>
        <p><strong>Mémoire :</strong> {{ selectedModalEntry.memory_type }}</p>
        <p><strong>Fichier :</strong> {{ selectedModalEntry.file }}</p>
      </div>
    </div>
  </div>
</div>
