<!-- Header -->
<header class="navbar navbar-dark bg-dark sticky-top py-2">
  <div class="container-fluid">
    <div class="row align-items-center w-100 g-2">

      <!-- Gauche -->
      <div class="col-auto">
        <button class="btn btn-outline-light" (click)="sidebar.toggle()">☰</button>
      </div>

      <!-- Centre -->
      <div class="col text-center">
        <div class="d-inline-flex flex-nowrap align-items-center gap-2 justify-content-center">

          <select class="form-select form-select-sm header-select"
                  [ngModel]="dev.selectedId()"
                  (ngModelChange)="dev.selectDevice($event)">
            <option *ngFor="let d of dev.profiles()" [ngValue]="d.id">{{ d.id }}</option>
            <option [ngValue]="'Custom'">Custom</option>
          </select>

          <input type="number" class="form-control form-control-sm header-num"
                 placeholder="Flash (B)"
                 [disabled]="!dev.isCustom()"
                 [ngModel]="dev.flashBytes()"
                 (ngModelChange)="dev.setCustomFlash($event)">

          <input type="number" class="form-control form-control-sm header-num"
                 placeholder="RAM (B)"
                 [disabled]="!dev.isCustom()"
                 [ngModel]="dev.ramBytes()"
                 (ngModelChange)="dev.setCustomRam($event)">

          <button *ngIf="dev.isCustom()" class="btn btn-sm btn-success"
                  (click)="saveCustom()" title="Enregistrer ce device">
            💾
          </button>
        </div>
      </div>

      <!-- Droite -->
      <div class="col-auto text-end">
        @if ((fileName$ | async); as f) {
          <button class="btn btn-primary" (click)="openAndParse()">{{ f }}</button>
        } @else {
          <button class="btn btn-primary" (click)="openAndParse()">📂 Fichier</button>
        }
      </div>
    </div>
  </div>
</header>

<!-- Backdrop (mobile) -->
@if (sidebar.isOpen()){
  <div class="app-backdrop d-md-none" (click)="sidebar.close()"></div>
}

<!-- Layout -->
<div class="app-layout" [class.sidebar-open]="sidebar.isOpen()">
  <!-- Sidebar (desktop + mobile) -->
  <aside class="app-sidebar bg-light border-end">
    <ul class="nav nav-pills flex-column gap-1 p-3">
      <li class="nav-item">
        <a routerLink="/resume" routerLinkActive="active" class="nav-link" >🧾 Résumé</a>
      </li>
      <li class="nav-item">
        <a routerLink="/detail" routerLinkActive="active" class="nav-link" >🔍 Détail</a>
      </li>
      <li class="nav-item">
        <a routerLink="/devices" routerLinkActive="active" class="nav-link" >Devices</a>
      </li>
    </ul>
  </aside>

  <!-- Contenu -->
  <main class="app-content p-3" style="max-width: 100vw">
    <router-outlet />
  </main>
</div>
